button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 22px 20px 22px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  button:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
  }
  
  .filled,
  .empty {
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
  }
  
  .filled {
    position: absolute;
    opacity: 0;
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  button:hover .empty {
    opacity: 0;
  }
  
  button:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
  }

  .section1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 50px;
  }
  
  .headerL {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .headerL img {
    height: 135px;
    width: 150px;
  }
  
  .headerR {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  #langue {
    color: rgb(200, 0, 255);
  }
  
  .headerR nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
  
  .headerR a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    font-size: 14px;
    background-color: rgb(191, 0, 255);
  }
  
  .headerR > nav > .contactezNous {
    border-radius: 100px;
    background-color: rgb(140, 0, 255);
  }
  
  .headerR > nav > a:hover {
    border-radius: 100px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 255);
  }
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-top: 50px;
  
    /* margin-bottom: 50px; */
  }

  @media (max-width: 576px) {
    body {
      padding: 0%;
      margin: 0%;
      width: 100vw;
      /* display: flex;
          justify-content: center;
          align-items: center; */
    }
  
    .section1 {
      gap: 0%;
    }
  
    .headerL {
      width: 200px;
      height: 140px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
    }
    .headerR {
      padding-top: 70%;
    }
    .headerR nav a {
      font-size: small;
      width: fit-content;
    }
  
    @media (min-width: 993px) and (max-width: 992px) {
    }
    .headerL img {
      height: 100px;
      width: 100px;
    }
  
    .headerR nav {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  
  @media (min-width: 575px) and (max-width: 768px) {
    body {
      padding: 0%;
      margin: 0%;
      width: 100vw;
      /* display: flex;
          justify-content: center;
          align-items: center; */
    }
  
    .section1 {
      display: flex;
      justify-content: center;
      align-items: center;
      /* flex-direction: column; */
      flex-wrap: wrap;
      gap: 0%;
      margin-bottom: 150px;
    }
  
    .headerL {
      width: 30%;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    }
  
    .headerL img {
      height: 100px;
      width: 100px;
    }
  
    .headerR {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 90px;
    }
  
    .headerR nav {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
    }
  }